@import url('https://fonts.googleapis.com/css?family=Tajawal:400,800&subset=arabic');
$light-red: rgba(166, 37, 39, 0.5);
$gray: #E8E8E8;
$baby-blue: #00bcd4;

body,
html {
  height: 100%;
  width: 100%;
  direction: rtl;
  font-family: Tajawal;
}

body {
  background-color: $gray;
  display: grid;
  grid-template-rows: 100px auto 10%;

  #app {
    display: grid;
    grid-row: 1/4;
    grid-column: 1/4;

    .container {
      .appBody {
        display: grid;
        grid-template-columns: 10% auto 25%;
        grid-template-rows: 150px 10px auto auto auto auto auto;
        grid-row-gap: 35px;
        grid-column-gap: 2%;
        grid-column: 1/4;
        grid-row: 1/4;

        .navAppBar {
          grid-column: 1/4;
          background-color: #00bcd4;
        }

        .header {
          display: grid;
          grid-column: 1/4;
          grid-row: 1/3;
          grid-template-columns: 33% auto 33%;
          justify-content: stretch;
          background-image: url("assets/Home-s.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;

          h1 {
            color: white;
            font-family: Amiri;
            grid-column: 2/3;
            justify-content: center;
            text-align: center;
          }
        }

        .navigation {
          grid-column: 1/2;
          grid-row: 4/5;
          margin-top: 50px;
          // border: 5px;
          // border-style: solid;
          // border-radius: 16px;
          // border-color: $light-red;
          color: black;
          justify-content: flex-start;
          justify-items: flex-start;
          align-self: flex-start;

          a,
          a:visited {
            color: black;
            text-decoration: none;
            text-shadow: 1px 1px 1px #555;
          }

          a:hover {
            color: $light-red;
          }
        }

        .homepageContent {
          grid-column: 2/3;
          grid-row: 4/5;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }

        .featured,
        .latest,
        .songList {
          display: flex;
          flex-direction: column;
          flex-basis: 30%;
          grid-column: 2/4;
          grid-row: 4/5;
          margin-right: 20px;
          margin-bottom: 10px;
        }

        .featured > *,
        .latest > *,
        .songList > * {
          margin-top: 10px;

          a,
          a:visited {
            text-decoration: none;
            color: blue;
          }
        }

        .song, .privacyPolicy {
          display: grid;
          grid-column: 2/3;
          grid-row: 4/6;
          margin: 10px 0;

          .songText {
            background-color: white;
          }
        }

        .form {
          grid-column: 2/3;
          grid-row: 4/7;
          margin-right: 2%;
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 30% auto 20%;

          .added {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-column-gap: 10%;
            grid-template-rows: auto auto auto auto;
            background-image: url("assets/svg/ic_check_black_48px.svg");
            background-size: 150px 150px;
            background-repeat: no-repeat;
            background-position: top center;
            margin-right: 10%;
            grid-row: 1/3;

            .addNew {
              grid-column: 1/2;
              grid-row: 4/5;
              align-self: baseline;
            }

            .goHome {
              grid-column: 3/4;
              grid-row: 4/5;
              align-self: baseline;
            }
          }

          .added div:first-child {
            grid-column: 2/3;
            grid-row: 4/5;
            align-self: baseline;
            justify-self: center;
          }

          .form-paper.request-song {
            grid-template-rows: 20% 20% 20% auto;
          }

          .form-message {
            grid-row: 1/2;
            grid-column: 1/4;
            margin-bottom: 5px;
          }

          .form-paper {
            display: grid;
            grid-template-columns: 5% auto auto 5%;
            grid-template-rows: 20% auto;
            grid-row: 2/3;
            grid-column: 1/4;

            .right-col {
              grid-column: 2/3;
            }

            .left-col {
              grid-column: 3/4;
            }

            .fullwidth-col {
              grid-column: 2/4;
            }
          }

          .save-button {
            grid-row: 3/4;
            grid-column: 1/2;
            width: 100%;
            height: 100%;
            background-color: $gray;
            margin: 5% 5% 0 0;
          }

          .recaptcha-widget {
            justify-self: end;
            grid-row: 3/4;
            grid-column: 3/4;
            margin-top: 2%;
          }
        }

        .SCPlayer {
          grid-column: 2/3;
          grid-row: 5/6;
        }

        .footer {
          border-top: #7f7f7f;
          border-style: solid;
          border-width: 1px 0 0 0;
          padding: 5px;
          grid-row: 6/9;
          grid-column: 1/4;
          background: $baby-blue;
          a {
            color: white;
            position: absolute;
            right: 50%;

          }
          @media only screen and (max-width: 1024px) {
            a {
              right: 35%;
            }
          }
        }
        .songContent, .songContent textarea, .privacyPolicyContent {
          word-spacing: 0px!important;
          font-family: Tajawal!important;
          font-size: 16px!important;
        }
      }
    }
  }
}

.comingsoon {
  color: white;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.comingsoon-title {
  font-size: 6em;
  font-family: Amiri;
}

.comingsoon-body {
  font-size: 2em;
}

ul {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: blue;
}

@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 50px auto 10%;

    #app {
      grid-column: 1/4;
      grid-row: 1/4;

      .container {
        .appBody {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 50px 10px auto auto auto auto auto;
          grid-row-gap: 35px;
          grid-column-gap: 2%;
          grid-column: 1/4;
          grid-row: 1/4;

          .header {
            display: grid;
            grid-column: 1/4;
            grid-row: 2/4;
            margin-top: -35px;
            grid-template-columns: 33% auto 33%;
            justify-content: stretch;
            background-image: url("assets/Home-s.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            h1 {
              color: white;
              font-family: Amiri;
              grid-column: 2/3;
              justify-content: center;
              text-align: center;
            }
          }

          .homepageContent {
            grid-column: 2/3;
            grid-row: 4/5;
            flex-direction: column;
          }

          .featured,
          .latest,
          .songList {
            grid-column: 1/4;
          }
          .navAppBar {
            grid-column: 1/4;
            grid-row: 1/2;
          }

          .comingsoon {
            color: white;
            justify-items: center;
            justify-content: center;
            text-align: center;
          }

          .comingsoon-title {
            font-size: 53px;
            font-family: Amiri;
          }

          .comingsoon-body {
            font-size: 20px;
          }
        }
      }
    }
  }
}
