<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
        <title>{% block title %}بيت التسبيح - كوردات ترانيم{% endblock %}</title>
        {% block stylesheets %}
         <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
         {% endblock %}
    </head>
    <body>
        {% block body %}
		<div id=app></div>
        {% endblock %}
        {% block javascripts %}
        		<script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-8383348619436509",
                        enable_page_level_ads: true
                    });
                </script>
        {% endblock %}
    </body>
</html>
